<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="Wpf_OnlineRestaurantSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <connectionStrings>
		<add name="myConStr"
    connectionString="Data Source=DESKTOP-LD6FL3O;Initial Catalog=RestaurantAppDB;Integrated Security=True;TrustServerCertificate=True;" />
	</connectionStrings>
	<appSettings>
		<add key="MenuDiscountPercent" value="10" />
	</appSettings>

 <applicationSettings>
  <Wpf_OnlineRestaurantSystem.Properties.Settings>
   <setting name="OrderValueThreshold" serializeAs="String">
    <value>100</value>
   </setting>
   <setting name="MinOrdersInTimeFrame" serializeAs="String">
    <value>5</value>
   </setting>
   <setting name="TimeFrameDays" serializeAs="String">
    <value>30</value>
   </setting>
   <setting name="DiscountPercentage" serializeAs="String">
    <value>20</value>
   </setting>
   <setting name="FreeShippingThreshold" serializeAs="String">
    <value>100</value>
   </setting>
   <setting name="ShippingCost" serializeAs="String">
    <value>15</value>
   </setting>
  </Wpf_OnlineRestaurantSystem.Properties.Settings>
 </applicationSettings>
</configuration>
